@font-face {
    font-family: calculator;
    src: url(font/Calculator.ttf);
}

.btn {
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: black;
}

#resultado {
    background-color: whitesmoke;
    width: 254px;
    height: 35px;
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
    font-family: calculator;
    color: black;
    text-align: right;
    padding: 5px;
}

#btn0 {
    width: 128px;
}

#mais {
    height: 128px;
}